{% extends "blog/base.html" %}
{% block content %}
    <h1>About DownSideUp Studios</h1>
    <br>
    <div id ="about-roles">
            <p class="about-p">For the</p>
        <div class="about-box">
            <ul class="about-roles-ul">
                <li class="roles-list">animators</li>
                <li class="roles-list">audio engineers</li>
                <li class="roles-list">comedy performers</li>
                <li class="roles-list">voice actors</li>
                <li class="roles-list">video editors</li>
                <li class="roles-list">independant creators</li>
            </ul>  
        </div>
    </div>
    <div class="about-text">
        <h3>Join</h3>
            <p>Our platform is made for creatives looking to collaborate with other independant creators to produce higher quality content</p>
        <h3>Share</h3>
            <p>Share the work you do - lorem ipsum</p>
        <h3>Connect</h3>
            <p>Create or join a micro-studio.

                Micro-stuios are just what they sound like - structured production studios for creators to make animated shows, shorts, podcasts, video games and more

            </p>
        <h3>Collaborate</h3>
            <p>Each studio gets to decide how serious they are - how many hours are expected from teammates

                Set a common goal, like produce an 8 episode animated series at 20 minutes each.

                Track progress and loriem epsium.

            </p>


    </div>

{% endblock content %}
    


